.grid {
  display: grid;
  height: 100vh;
  grid-template-columns: 4fr;
  grid-template-rows: 0.5fr 1fr 1fr 0.5fr;
}

.grid>header {
  grid-row: 1/2;
  grid-column: 1/2;
}

.grid>#section1 {
  grid-row: 2/3;
  grid-column: 1/2;
}

.grid>#section2 {
  grid-row: 3/4;
  grid-column: 1/2;
}

.grid>footer {
  grid-row: 4/5;
  grid-column: 1/2;
}

/* Siguiente a modificar */

@media screen and (min-width: 600px) and (max-width: 767px) {
  .grid {
    display: grid;
    height: 100vh;
    grid-template-columns: 4fr;
    grid-template-rows: 0.5fr 1fr 1fr 0.5fr;
  }

  .grid>header {
    grid-row: 1/2;
    grid-column: 1/2;
  }


  .grid>#section1 {
    grid-row: 2/3;
    grid-column: 1/2;
  }

  .grid>#section2 {
    grid-row: 3/4;
    grid-column: 1/2;
  }

  .grid>footer {
    grid-row: 4/5;
    grid-column: 1/2;
  }
}


@media screen and (min-width: 480px) and (max-width: 599px) {
  .grid {
    display: grid;
    height: 100vh;
    grid-template-columns: 4fr;
    grid-template-rows: 0.5fr 1fr 1fr 0.5fr;
  }

  .grid>header {
    grid-row: 1/2;
    grid-column: 1/2;
  }

  .grid>#section1 {
    grid-row: 2/3;
    grid-column: 1/2;
  }

  .grid>#section2 {
    grid-row: 3/4;
    grid-column: 1/2;
  }

  .grid>footer {
    grid-row: 4/5;
    grid-column: 1/2;
  }
}


@media screen and (min-width: 320px) and (max-width: 479px) {
  .grid {
    display: grid;
    height: 100vh;
    grid-template-columns: 4fr;
    grid-template-rows: 0.5fr 1fr 1fr 0.5fr;
  }

  .grid>header {
    grid-row: 1/2;
    grid-column: 1/2;
  }

  .grid>#section1 {
    grid-row: 2/3;
    grid-column: 1/2;
  }

  .grid>#section2 {
    grid-row: 3/4;
    grid-column: 1/2;
  }

  .grid>footer {
    grid-row: 4/5;
    grid-column: 1/2;
  }
}