*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box; }

body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #b7d568;
  overflow-x: hidden; }

.grid {
  display: grid;
  height: 100vh;
  grid-template-columns: 4fr;
  grid-template-rows: 0.5fr 1fr 1fr 0.5fr; }
  .grid header {
    grid-row: 1/2;
    grid-column: 1/2; }
  .grid #section1 {
    grid-row: 2/3;
    grid-column: 1/2; }
  .grid #section2 {
    grid-row: 3/4;
    grid-column: 1/2; }
  .grid footer {
    grid-row: 4/5;
    grid-column: 1/2; }

/* Menu */
.header__logo {
  height: 120px;
  width: 400px;
  object-fit: cover; }

.menu__items {
  display: flex;
  flex-wrap: wrap;
  list-style: none; }
  .menu__items li {
    border-radius: 3px;
    margin: 0 5px; }
    .menu__items li:hover, .menu__items li.active {
      background-color: rgba(0, 0, 0, 0.3);
      transition: .4s; }
    .menu__items li a {
      padding: 7px 13px;
      text-decoration: none;
      font-size: 18px;
      display: block;
      text-transform: uppercase;
      color: black; }

ul.show {
  top: 65px; }

/* Index */
.card {
  margin-top: -10px;
  width: 100%;
  height: 1100px;
  margin-top: -10px;
  background-image: url(../img/bicepsSentado.jpg);
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: darken;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: cover; }
  .card .card__texto {
    color: #fff;
    text-align: center;
    width: 80%;
    font-size: 30px; }
    .card .card__texto .card__titulo {
      font-size: 3.2rem; }
    .card .card__texto .card__subtitulo {
      font-size: 2rem;
      font-weight: 300;
      margin: 15px 0; }
    .card .card__texto .card__cta {
      display: inline-block;
      background: #fff;
      padding: var(--boton-padding);
      text-decoration: none;
      border-radius: 40px; }

/* Buttons__Cta (Index-Planesyrut) */
.boton, .boton--perdidaGrasa, .boton--aumentoMuscular, .boton--mantenimientoMuscular {
  width: auto;
  height: auto;
  background-color: #b7d568;
  text-align: center;
  color: #646363;
  font-weight: bolder;
  border: 1px solid black;
  border-radius: 20px; }
  .boton:hover, .boton--perdidaGrasa:hover, .boton--aumentoMuscular:hover, .boton--mantenimientoMuscular:hover {
    text-decoration: none; }

.boton--perdidaGrasa {
  background-color: #8bb51f;
  color: bisque; }

.boton--aumentoMuscular {
  background-color: #628210;
  color: bisque; }

.boton--mantenimientoMuscular {
  background-color: #a8d044;
  color: bisque; }

/* Index__jercicios */
.ejercicios {
  background: #b7d568; }
  .ejercicios .contenedor__subtitulo {
    margin-top: 20px;
    color: #646363;
    font-weight: bolder;
    text-align: center; }
  .ejercicios .contenedor__parrafo {
    text-align: center;
    color: #fff;
    width: 90%;
    font-size: 30px;
    margin-left: 10px;
    padding: 15px 15px; }
  .ejercicios .ejercicios__grid {
    display: grid;
    height: 550px;
    grid-template-areas: "img1 img1 img2 img3" "img1 img1 img4 img5";
    gap: 10px; }
    .ejercicios .ejercicios__grid .ejercicios__item {
      position: relative;
      width: 100%;
      height: 100%;
      overflow: hidden; }
      .ejercicios .ejercicios__grid .ejercicios__item:nth-of-type(1) {
        grid-area: img1; }
      .ejercicios .ejercicios__grid .ejercicios__item:nth-of-type(2) {
        grid-area: img2; }
      .ejercicios .ejercicios__grid .ejercicios__item:nth-of-type(3) {
        grid-area: img3; }
      .ejercicios .ejercicios__grid .ejercicios__item:nth-of-type(4) {
        grid-area: img4; }
      .ejercicios .ejercicios__grid .ejercicios__item .ejercicios__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        cursor: pointer; }
      .ejercicios .ejercicios__grid .ejercicios__item .ejercicios__hover {
        position: absolute;
        background-color: #b7d568;
        opacity: 0.5;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        color: black;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        transform: translateX(100%);
        cursor: pointer;
        transition: transform .3s ease-in-out; }
  .ejercicios .ejercicios__item:hover .ejercicios__hover {
    transform: translateX(0%); }

/* Index__capacidades */
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 30px; }
  .row div:nth-child(1) {
    background-color: #c4e07d;
    margin: 10px 10px;
    padding: 10px 10px;
    position: center; }

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 30px; }
  .row div:nth-child(2) {
    background-color: #b7d568;
    margin: 10px 10px;
    padding: 10px 10px;
    position: center; }

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 30px; }
  .row div:nth-child(3) {
    background-color: #a6c559;
    margin: 10px 10px;
    padding: 10px 10px;
    position: center; }

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 30px; }
  .row div:nth-child(4) {
    background-color: #91ae49;
    margin: 10px 10px;
    padding: 10px 10px;
    position: center; }

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 30px; }
  .row div:nth-child(5) {
    background-color: #87a53b;
    margin: 10px 10px;
    padding: 10px 10px;
    position: center; }

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 30px; }
  .row div:nth-child(6) {
    background-color: #819f35;
    margin: 10px 10px;
    padding: 10px 10px;
    position: center; }

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 30px; }
  .row div:nth-child(7) {
    background-color: #75922d;
    margin: 10px 10px;
    padding: 10px 10px;
    position: center; }

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 30px; }
  .row div:nth-child(8) {
    background-color: #74902e;
    margin: 10px 10px;
    padding: 10px 10px;
    position: center; }

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 30px; }
  .row div:nth-child(9) {
    background-color: #698327;
    margin: 10px 10px;
    padding: 10px 10px;
    position: center; }

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 30px; }
  .row div:nth-child(10) {
    background-color: #6c8922;
    margin: 10px 10px;
    padding: 10px 10px;
    position: center; }

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 30px; }
  .row div:nth-child(11) {
    background-color: #576e1d;
    margin: 10px 10px;
    padding: 10px 10px;
    position: center; }

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 30px; }
  .row div:nth-child(12) {
    background-color: #415510;
    margin: 10px 10px;
    padding: 10px 10px;
    position: center; }

/* Index__capacidades */
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 30px; }
  .row .region:nth-child(1) {
    background-color: #c5cdb1;
    margin: 10px 10px;
    padding: 10px 10px;
    position: center; }

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 30px; }
  .row .region:nth-child(2) {
    background-color: #b7bfa6;
    margin: 10px 10px;
    padding: 10px 10px;
    position: center; }

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 30px; }
  .row .region:nth-child(3) {
    background-color: #9fa492;
    margin: 10px 10px;
    padding: 10px 10px;
    position: center; }

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 30px; }
  .row .region:nth-child(4) {
    background-color: #949985;
    margin: 10px 10px;
    padding: 10px 10px;
    position: center; }

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 30px; }
  .row .region:nth-child(5) {
    background-color: #909583;
    margin: 10px 10px;
    padding: 10px 10px;
    position: center; }

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 30px; }
  .row .region:nth-child(6) {
    background-color: #7a7e71;
    margin: 10px 10px;
    padding: 10px 10px;
    position: center; }

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 30px; }
  .row .region:nth-child(7) {
    background-color: #696b65;
    margin: 10px 10px;
    padding: 10px 10px;
    position: center; }

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 30px; }
  .row .region:nth-child(8) {
    background-color: #585a53;
    margin: 10px 10px;
    padding: 10px 10px;
    position: center; }

.box1 {
  display: flex;
  flex-direction: row;
  flex-direction: wrap;
  justify-content: center;
  justify-content: space-evenly;
  margin-bottom: -30px;
  margin-top: 20px; }
  .box1 .icono {
    height: 300px;
    width: 150px; }

/* QuienSoy */
.quienSoy {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  font-size: 60px;
  border: 10px dotted #646363;
  margin: 10px 120px;
  padding: 15px 15px; }

.container {
  font-size: 24px;
  text-align: justify; }
  .container .quienSoy__title {
    font-size: 40px;
    color: blanchedalmond;
    border: 5px; }
  .container .quienSoy__paragraph {
    font-size: 30px;
    color: #646363; }

/* QuienSoy_carousel */
.imgChica {
  margin: auto;
  width: 600px;
  height: 800px;
  border-radius: 30px;
  margin-top: 50px;
  margin-bottom: 50px; }

/* servicios */
.servicios {
  display: flex;
  flex-direction: column; }
  .servicios .servicios__contenedor {
    padding: 15px 15px; }
    .servicios .servicios__contenedor .servicios__titulo {
      font-size: 40px;
      color: black; }
    .servicios .servicios__contenedor .servicios__subtitulo {
      font-size: 30px;
      color: white; }
    .servicios .servicios__contenedor .servicios__parrafo {
      font-size: 25px;
      color: #646363;
      text-align: justify; }

/* servicios__Imagen */
.imageLink {
  width: 600px;
  height: 800px;
  overflow: hidden;
  text-align: start;
  position: relative;
  margin: 50px auto;
  border-radius: 20px;
  box-shadow: 5px 8px 12px black;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  margin: 75px auto; }
  .imageLink:hover {
    transform: scale(1.1);
    box-shadow: 13px 15px 37px black; }
  .imageLink img {
    width: 100%;
    height: 100%; }
  .imageLink p {
    font-size: 3.6rem;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    text-shadow: 0 0 8px rgba(0, 0, 0, 0.8); }

/* Planes y rutinas */
/* Planes */
.clavesRutina {
  margin-top: 860px;
  margin-bottom: 40px; }

.planes {
  margin-top: 10px;
  padding: 15px 15px; }
  .planes .planes__titulo {
    font-size: 40px;
    color: black; }
  .planes .planes__subtitulo {
    font-size: 30px;
    color: white; }
  .planes .planes__parrafo {
    font-size: 25px;
    color: #646363;
    text-align: justify; }

.opciones {
  margin-top: 10px;
  padding: 15px 15px; }

.opciones__subtitulo {
  color: #646363;
  text-align: center; }

.opciones__plan {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  font-size: 15px;
  border: 5px solid #646363;
  width: max-width;
  margin: 10px 10px;
  padding: 15px 15px; }

a {
  padding: 15px 25px;
  text-decoration: none;
  font-size: 20px;
  display: inline-block;
  text-transform: uppercase;
  color: black; }

.btn--perdidaPeso {
  background-color: #d4ee55;
  text-decoration: none; }

.btn--aumentoMuscular {
  background-color: #629d10;
  text-decoration: none; }

.btn--mantenimientoMuscular {
  background-color: #bbc230;
  text-decoration: none; }

/* Iframe */
.contenedorIframe {
  height: 0;
  width: 100%; }
  .contenedorIframe iframe {
    border: solid #646363;
    width: 100%;
    height: 800px;
    margin-top: 30px;
    padding: 15px 15px; }

/* Planes__tablaIframe */
#section2 ul li {
  list-style: none; }

.table {
  background-color: #b7d568; }

td {
  font-size: 20px;
  color: #646363;
  text-align: justify; }

tr {
  font-size: 25px;
  color: #646363; }

.planes1__subtitulo {
  font-size: 40px;
  font-weight: bolder;
  color: white;
  text-align: center; }

.planes__parrafo {
  font-size: 25px;
  color: #646363;
  text-align: justify; }

/* Contacto */
.contacto__titulo {
  padding: 15px 15px;
  font-size: 30px;
  color: #646363;
  text-align: center; }

.contacto__subtitulo {
  padding: 15px 15px;
  font-size: 30px;
  color: white;
  text-align: center; }

.formulario {
  font-family: 'Roboto', sans-serif;
  background-color: #b7d568;
  background-size: 20px 20px;
  background-position: 0 0, 10px 10px;
  display: flex;
  min-height: 100vh; }
  .formulario form {
    background: #d9d2d2;
    margin: auto;
    width: 90%;
    max-width: 600px;
    padding: 4.5em 3em;
    border-radius: 10px;
    text-align: center;
    padding: 30px; }

/* Footer */
.footer {
  background-color: #fff;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  border-bottom: 1px solid #fff;
  box-shadow: 5px 0 10px rgba(0, 0, 0, 0.6);
  width: 100vw;
  bottom: 0;
  margin-top: 25px; }
  .footer .footer__firmaLogo {
    height: 120px;
    width: 400px;
    object-fit: cover; }
  .footer .footer__titulo {
    font-weight: 400;
    color: black;
    font-size: 2rem;
    margin-top: 20px;
    text-align: center; }
  .footer .footer__iconos {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 35px;
    margin-left: -35px; }
    .footer .footer__iconos .footer__contenedor-iconos {
      display: inline-block;
      width: 60px;
      height: 60px;
      color: #fff;
      text-align: center; }
      .footer .footer__iconos .footer__contenedor-iconos .footer__icono {
        color: inherit;
        width: 50px;
        height: 50px;
        font-size: 30px;
        text-decoration: none;
        line-height: 60px; }

@media screen and (min-width: 600px) and (max-width: 767px) {
  .grid {
    display: grid;
    height: 100vh;
    grid-template-columns: 4fr;
    grid-template-rows: 0.5fr 1fr 1fr 0.5fr;
    overflow-x: hidden; }
    .grid > * {
      border: 1px solid yellow;
      background-color: brown; }
    .grid header {
      width: 100%;
      grid-row: 1/2;
      grid-column: 1/2; }
    .grid #section1 {
      grid-row: 2/3;
      grid-column: 1/2; }
    .grid #section2 {
      grid-row: 3/4;
      grid-column: 1/5; }
    .grid footer {
      grid-row: 4/5;
      grid-column: 1/5;
      width: 100%; } }
