$color_principal: #646363;
$color_secundario: #b7d568;

*,
*:before,
*:after {
 margin: 0;
 padding: 0;
 outline: 0;
 box-sizing: border-box;
}

body {
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 background-color: $color_secundario;
 overflow-x: hidden;
}

@import "header";


/* Index */

.card {
 margin-top: -10px;
 width: 100%;
 height: 1100px;
 margin-top: -10px;
 background-image: url(../img/bicepsSentado.jpg);
 background-size: cover;
 background-position: center;
 display: flex;
 align-items: center;
 justify-content: center;
 object-fit: cover;

 .card__texto {
  color: #fff;
  text-align: center;
  width: 80%;
  font-size: 30px;

  .card__titulo {
   font-size: 3.2rem;
  }

  .card__subtitulo {
   font-size: 2rem;
   font-weight: 300;
   margin: 15px 0;
  }

  .card__cta {
   display: inline-block;
   background: #fff;
   padding: var(--boton-padding);
   text-decoration: none;
   border-radius: 40px;
  }
 }
}

/* Buttons__Cta (Index-Planesyrut) */

.boton {
 width: auto;
 height: auto;
 background-color: $color_secundario;
 text-align: center;
 color: $color_principal;
 font-weight: bolder;
 border: 1px solid black;
 border-radius: 20px;

 &:hover {
  text-decoration: none;
 }
}

.boton--perdidaGrasa {
 @extend .boton;
 background-color: #8bb51f;
 color: bisque;
}

.boton--aumentoMuscular {
 @extend .boton;
 background-color: #628210;
 color: bisque;
}

.boton--mantenimientoMuscular {
 @extend .boton;
 background-color: #a8d044;
 color: bisque;
}

/* Index__jercicios */

.ejercicios {
 background: $color_secundario;

 .contenedor__subtitulo {
  margin-top: 20px;
  color: #646363;
  font-weight: bolder;
  text-align: center;
 }

 .contenedor__parrafo {
  text-align: center;
  color: #fff;
  width: 90%;
  font-size: 30px;
  margin-left: 10px;
  padding: 15px 15px;
 }

 .ejercicios__grid {
  display: grid;
  height: 550px;
  grid-template-areas:
   "img1 img1 img2 img3"
   "img1 img1 img4 img5";
  gap: 10px;

  .ejercicios__item {
   position: relative;
   width: 100%;
   height: 100%;
   overflow: hidden;

   &:nth-of-type(1) {
    grid-area: img1;
   }

   &:nth-of-type(2) {
    grid-area: img2;
   }

   &:nth-of-type(3) {
    grid-area: img3;
   }

   &:nth-of-type(4) {
    grid-area: img4;
   }

   .ejercicios__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
   }

   .ejercicios__hover {
    position: absolute;
    background-color: $color_secundario;
    opacity: 0.5;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: black;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: translateX(100%);
    cursor: pointer;
    transition: transform .3s ease-in-out;
   }
  }
 }

 .ejercicios__item:hover .ejercicios__hover {
  transform: translateX(0%);
 }

}

/* Index__capacidades */

$colores: (
 1: #c4e07d,
 2: #b7d568,
 3: #a6c559,
 4: #91ae49,
 5: #87a53b,
 6: #819f35,
 7: #75922d,
 8: #74902e,
 9: #698327,
 10: #6c8922,
 11: #576e1d,
 12: #415510,
);

@each $id,
$color in $colores {
 .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 30px;

  div:nth-child(#{$id}) {
   background-color: map-get($colores, $id);
   margin: 10px 10px;
   padding: 10px 10px;
   position: center;
  }
 }
}

/* Index__capacidades */

$colores1: (
 1: #c5cdb1,
 2: #b7bfa6,
 3: #9fa492,
 4: #949985,
 5: #909583,
 6: #7a7e71,
 7: #696b65,
 8: #585a53,
);

@each $id,
$color in $colores1 {
 .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 30px;

  .region:nth-child(#{$id}) {
   background-color: map-get($colores1, $id);
   margin: 10px 10px;
   padding: 10px 10px;
   position: center;
  }
 }
}

/* Iconos */

$lado: 250px;

@mixin cuadrado($lado, $color) {
 width: $lado;
 height: $lado;
 background-color: $color;
}

div.cuadrado {
 @include cuadrado(250px, rgb(200, 200, 200))
}

.icono {
 width: $lado;
 height: $lado;
}

/* QuienSoy */

.quienSoy {
 display: flex;
 flex-wrap: wrap;
 justify-content: space-evenly;
 font-size: 60px;
 border: 10px dotted $color_principal;
 margin: 10px 120px;
 padding: 15px 15px;
}

.container {
 font-size: 24px;
 text-align: justify;

 .quienSoy__title {
  font-size: 40px;
  color: blanchedalmond;
  border: 5px;
 }

 .quienSoy__paragraph {
  font-size: 30px;
  color: #646363;
 }
}

/* QuienSoy_carousel */

.imgChica {
 margin: auto;
 width: 600px;
 height: 800px;
 border-radius: 30px;
 margin-top: 50px;
 margin-bottom: 50px;
}

/* servicios */

.servicios {
 display: flex;
 flex-direction: column;

 .servicios__contenedor {
  padding: 15px 15px;

  .servicios__titulo {
   font-size: 40px;
   color: black;
  }

  .servicios__subtitulo {
   font-size: 30px;
   color: white;
  }

  .servicios__parrafo {
   font-size: 25px;
   color: $color_principal;
   text-align: justify;
  }
 }
}

/* servicios__Imagen */

.imageLink {
 width: 600px;
 height: 800px;
 overflow: hidden;
 text-align: start;
 position: relative;
 margin: 50px auto;
 border-radius: 20px;
 box-shadow: 5px 8px 12px black;
 cursor: pointer;
 transition: all 0.3s ease-in-out;
 margin: 75px auto;

 &:hover {
  transform: scale(1.1);
  box-shadow: 13px 15px 37px black;
 }

 img {
  width: 100%;
  height: 100%;
 }

 p {
  font-size: 3.6rem;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  text-shadow: 0 0 8px rgba(0, 0, 0, .8);
 }
}

/* Planes y rutinas */
/* Planes */

.clavesRutina {
 margin-top: 860px;
 margin-bottom: 40px;
}

.planes {
 margin-top: 10px;
 padding: 15px 15px;

 .planes__titulo {
  font-size: 40px;
  color: black;
 }

 .planes__subtitulo {
  font-size: 30px;
  color: white;
 }

 .planes__parrafo {
  font-size: 25px;
  color: $color_principal;
  text-align: justify;
 }
}

.opciones {
 margin-top: 10px;
 padding: 15px 15px;
}

.opciones__subtitulo {
 color: #646363;
 text-align: center;
}

.opciones__plan {
 display: flex;
 flex-wrap: wrap;
 justify-content: space-evenly;
 font-size: 15px;
 border: 5px solid $color_principal;
 width: max-width;
 margin: 10px 10px;
 padding: 15px 15px;
}

a {
 padding: 15px 25px;
 text-decoration: none;
 font-size: 20px;
 display: inline-block;
 text-transform: uppercase;
 color: black;
}

$planes: (
 perdidaPeso: #d4ee55,
 aumentoMuscular: #629d10,
 mantenimientoMuscular: #bbc230,
);

@each $red,
$color in $planes {
 .btn--#{$red} {
  background-color: $color;
  text-decoration: none;
 }
}

/* Iframe */

.contenedorIframe {
 height: 0;
 width: 100%;

 iframe {
  border: solid $color_principal;
  width: 100%;
  height: 800px;
  margin-top: 30px;
  padding: 15px 15px;
 }
}

/* Planes__tablaIframe */

#section2 ul li {
 list-style: none;
}

.table {
 background-color: $color_secundario;
}

td {
 font-size: 20px;
 color: $color_principal;
 text-align: justify;
}

tr {
 font-size: 25px;
 color: $color_principal;
}

.planes1__subtitulo {
 font-size: 40px;
 font-weight: bolder;
 color: white;
 text-align: center;
}

.planes__parrafo {
 font-size: 25px;
 color: $color_principal;
 text-align: justify;
}

@import "contacto";

@import "footer";