*,  *:before, *:after {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
 }
 
 body  {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #b7d568;
  overflow-x: hidden;
}

 .header__logo {
  height: 120px;
  width: 400px;
  object-fit: cover;  
}

.header__menu {
  background-color: #fff;
  height: 170px;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  border-bottom: 1px solid #fff;
  box-shadow: 5px 0 10px rgba(0, 0, 0, .6);
}

.menu__items {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.menu__items li {
  border-radius: 3px;
  margin: 0 5px;
}

.menu__items li a {
  padding: 7px 13px;
  text-decoration: none;
  font-size: 18px;
  display: block;
  text-transform: uppercase;
  color: black;
}

.menu__items li:hover, li.active {
  background-color: rgba(0, 0, 0, .3);
  transition: .4s;
}

ul.show {
  top: 65px;
}

/* Section1 */

.wrap {
  width: 100%;
  height: 1100px;
  margin-top: -10px;
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: cover;
  background: linear-gradient(to top,
   rgb(0 0 0 / 0.5), rgb(0 0 0 / 0.5)),url(img/bicepsSentado.jpg);
   background-size: 100% 130%;
   background-repeat: no-repeat;
   background-position: center;
}

.wrap__texto {
  color: #fff;
  text-align: center;
  width: 80%;
  font-size: 30px;
}

.wrap__titulo {
  font-size: 3.2rem;
}

.wrap__subtitulo {
  font-size: 2rem;
  font-weight: 300;
  margin: 15px 0;
}

.wrap__cta {
  display: inline-block;
  background: #fff;
  padding: var(--boton-padding);
  text-decoration: none;
  border-radius: 40px;
}

/* Ejercicios */

.ejercicios {
  background: #b7d568;
}

.contenedor__subtitulo {
  text-align: center;
  color: #fff;
  width: 90%;
  font-size: 30px;
  margin-left: 10px;
  padding: 15px 15px;
}

.contenedor__parrafo {
  text-align: center;
  color: #fff;
  width: 90%;
  font-size: 30px;
  margin-left: 10px;
  padding: 15px 15px;
}

.ejercicios__grid {
  display: grid;
  height: 550px;
  grid-template-areas: 
  "img1 img1 img2 img3"
  "img1 img1 img4 img5";
  gap: 10px;
}

.ejercicios__item {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.ejercicios__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}

.ejercicios__item:nth-of-type(1) {
  grid-area: img1;
}

.ejercicios__item:nth-of-type(2) {
  grid-area: img2;
}

.ejercicios__item:nth-of-type(3) {
  grid-area: img3;
}

.ejercicios__item:nth-of-type(4) {
  grid-area: img4;
}

.ejercicios__hover {
  position: absolute;
  background-color: #b7d568;
  opacity: 0.5;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: black;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transform: translateX(100%);
  cursor: pointer;
  transition: transform .3s ease-in-out;
}

.ejercicios__item:hover .ejercicios__hover {
  transform: translateX(0%);
}

.ejercicios__icon {
  margin-top: 10px;
  font-size: 30px;
}

/*  */

.contenedor__subtitulo {
  color: #646363;
  text-align: center;
}

.contenedor__claves {
  font-weight: bold;
}

/* Footer */

.footer {
  background-color: #fff;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  border-bottom: 1px solid #fff;
  box-shadow: 5px 0 10px rgba(0, 0, 0, .6);
  width: 100vw;
}

.footer__firmaLogo {
  height: 120px;
  width: 400px;
  object-fit: cover;  
}

.footer__titulo {
  font-weight: 400;
  color: black;
  font-size: 2rem;
  margin-bottom: 30px;
  text-align: center;
}

.footer__iconos {
  display: flex;
  justify-content: space-evenly;
}

.footer__contenedor-iconos {
  display: inline-block;
  width: 60px;
  height: 60px;
  color: #fff;
  text-align: center;
}

.footer__icono {
  color: inherit;
  width: 50px;
  height: 50px;
  font-size: 30px;
  text-decoration: none;
  line-height: 60px;
}


/* servicios */

.contenedorServicios {
  display: flex;
  flex-direction: column;
}

.servicios {
  padding: 15px 15px;
}

.servicios__titulo {
  font-size: 40px;
  color: black;
}

.servicios__subtitulo {
  font-size: 30px;
  color: white;
}

.servicios__parrafo {
  font-size: 25px;
  color: #646363;
  text-align: justify;
}

/* servicios__Imagen */

.imageLink {
  width: 600px;
  height: 800px;
  overflow: hidden;
  text-align: start;
  position: relative;
  border-radius: 20px;
  box-shadow: 5px 8px 12px black;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  margin: 75px auto;
}

.imageLink:hover {
  transform: scale(1.1);
  box-shadow: 13px 15px 37px black;
}

.imageLink img {
  width: 100%;
  height: 100%;
}

.imageLink p {
  font-size: 3.6rem;
  color: white;
  position: absolute;
  top:50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  text-shadow: 0 0 8px rgba(0, 0, 0, .8);
}

/* Iframe */

.presentacionPlanes {
  padding: 15px 15px;
}

.contenedorIframe {
  height: 0;
  width: 100%;
  margin-top: -50px;
}

iframe {
  border: solid  #646363;
  width: 100%;
  height: 800px;
  margin-top: 30px;
  padding: 15px 15px;
}

.clavesRutina {
  margin-top: 900px;
  margin-bottom: 40px;
}

/* Imagenes */

.imagenes {
  text-align: center;
  padding-bottom: 10px;
  padding-top: 10px;
  gap: 25px;
}

.imagenLateral {
  height: 500px;
  width: 260px;
  padding-bottom: 20px;
  padding-top: 60px;
  overflow: hidden;
}

.imgChica {
  margin: auto;
  width: 600px;
  height: 800px;
  border-radius: 30px;
  margin-top: 50px;
  margin-bottom: 50px;
 }

 
.contenedor {
 text-align: center;
 font-size: 20px;
 padding: 10px;
}

.carouselContainer {
  width: 100%;
  height: auto;
}

/* Contacto */

.titulo {
  padding: 15px 15px;
  font-size: 30px;
  color: #646363;
  text-align: center;
}

.subtitulo {
  padding: 15px 15px;
  font-size: 30px;
  color: white;
  text-align: center;
}

.formulario {
  font-family: 'Roboto', sans-serif;
  background-color: #b7d568;
  background-image:  radial-gradient(#c7f745 0.5px, transparent 0.5px), radial-gradient(#c7f745 0.5px, #b7d568 0.5px);
  background-size: 20px 20px;
  background-position: 0 0,10px 10px;
  display: flex;
  min-height: 100vh;
 }
 
form {
  background: #d9d2d2;
  margin: auto;
  width: 90%;
  max-width: 600px;
  padding: 4.5em 3em;
  border-radius: 10px;
  box-shadow: 0 5px 10px .5px rgb(0 0 0 / 30%);
  text-align: center;
  padding: 30px;
 }

 .container {
  font-size: 24px;
  text-align: justify;
 }

 /* QuienSoy */

.quienSoy {
  display: flex;  
  flex-wrap: wrap;
  justify-content: space-evenly;
  font-size: 36px;
  border: 10px dotted #646363;
  margin: 10px 120px;
  padding: 15px 15px;   
}

.quienSoy__container {
  display: flex;
  flex-direction: column;
  font-size: 30px;
  padding: 15px 15px;
  width: 100vw;  
}

.quienSoy__title {
  font-size: 40px;
  color: blanchedalmond;
  border: 5px ;
}

.quienSoy__paragraph {
  font-size: 30px;
  color: #646363;
}

#section2 ul li {
  list-style: none;
}

.table td {
  font-size: 20px;
  color: #646363;
  text-align: justify;
}

tr {
  font-size: 25px;
  color: blanchedalmond;
}